/* * { 
  border: 1px solid red;
} */

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.header {
  padding: 60px;
  text-align: center;
  background: white;
  color: black;
  font-size: 20px;
}

.headerformat {
  background-color: white;
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform:none;
}

h1 {font-size: 30pt;
    margin-bottom: 0px;
    position: relative;
    top: 229px;
    right: 117px;
    color:white


}

.home-img {
  position: fixed;
  left: 0px;
  top: 155px;
  z-index: -1;
  width: 100%;
  
}

.statement {
  background-image:ur
  width: 100%;
  height: 80vh;
}

#selfie {
  
  left: 29px;
  top: 174px;
  z-index: 0;
  width: 27%;
  height: 49%;
}

.quote{
  display: flex;
  flex-direction: row;
  font-size: 25px;
  margin-bottom: 0px;
  color:black;
  text-align: center;
  justify-content: center;

}

/* .p {
    color:black;
    text-align:center;
} */

/* h2 {
    font-size: 18pt;
    color:black;
    text-align:center;

} */

.a {
  color:black;

}

.flex-container {

display: flex;
flex-direction: row-reverse;
text-align: left;
padding-left: 20px;
padding-right: 20px; 
}

.baby-container {
  padding: 0 20px 0 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .header {
    padding: 5px;
    font-size: 15px;
  }
  h1 {font-size: 20pt;
    margin-bottom: 0px;
    position: relative;
    top: 229px;
    right: 117px;
    color:white}

  }



/* For iPhone 4 Portrait or Landscape View
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .media {
    width: 400px;
    height: 400px;
    
  }
}
/*  
/* For iPhone 5 Portrait or Landscape View */
/* @media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .media {
    width: 400px;
    height: 400px;
 
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
/* @media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  .media {
    width: 400px;
    height: 400px; */
  
/*
p{font-size: 20pt;

}

.pink-text {
    color: hotpink;
}

#pink {
    font-size: 100pt;
    color: hotpink;
}
*/
